In [8]:
from utils.connect import connect
# from utils.aed_rows import add_row, edit_row, delete_row
import pandas as pd
from utils.schema import Data
from pandantic import Pandantic

In [9]:
# Get data as Pandas DataFrame
sheet = connect()

In [10]:
# Get raw values including headers
raw_data = sheet.get_values()
headers = raw_data[0]
values = raw_data[1:]

# Create DataFrame with proper number parsing
df = pd.DataFrame(values, columns=headers)

# Convert Amount and Total with proper handling of decimal separators
df['Amount'] = df['Amount'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))
df['Total'] = df['Total'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))
df['Type'] = df['Type'].astype(int)

In [11]:
df.Total.head()

0    5960.5
1    5963.0
2    6003.0
3    6027.0
4    6036.5
Name: Total, dtype: float64

In [6]:
# Convert the sheet to a DataFrame
df = pd.DataFrame(sheet.get_all_records())
df

            Date Category  Amount    Total  Type
0     2025-02-13      Fun   250.0   5.9605     0
1     2025-02-13     Fuel  2400.0   6.0030     0
2     2025-02-13  Mprikis  4000.0   5.9630     0
3     2025-02-12      Fun   950.0   6.0270     0
4     2025-02-12  Mprikis  1100.0   6.0365     0
...          ...      ...     ...      ...   ...
2445  2022-02-22    Gifts   900.0  31.6308     1
2446  2022-02-21      Fun   250.0  31.6218     0
2447  2022-02-21      Fun   300.0  31.6243     0
2448  2022-02-21     Fuel   450.0  31.6273     0
2449  2022-02-21   Health   860.0  31.6318     0

[2450 rows x 5 columns]

In [7]:
# Convert 'Date' to datetime format for sorting
df["Date"] = pd.to_datetime(df["Date"])

# Sort by Date (latest first)
df = df.sort_values(by="Date", ascending=False).reset_index(drop=True)

# Convert "Total" column to numeric (handling empty strings)
df["Total"] = pd.to_numeric(df["Total"], errors="coerce")

df["Amount"] = df['Amount'].apply(lambda x: x * 1000 if x < 10 else x/100)
df["Total"] = df["Total"]*1000

In [8]:
df

           Date Category  Amount    Total  Type
0    2025-02-13      Fun     2.5   5960.5     0
1    2025-02-13  Mprikis    40.0   5963.0     0
2    2025-02-13     Fuel    24.0   6003.0     0
3    2025-02-12      Fun     9.5   6027.0     0
4    2025-02-12  Mprikis    11.0   6036.5     0
...         ...      ...     ...      ...   ...
2445 2022-02-22    Gifts     9.0  31630.8     1
2446 2022-02-21      Fun     2.5  31621.8     0
2447 2022-02-21      Fun     3.0  31624.3     0
2448 2022-02-21     Fuel     4.5  31627.3     0
2449 2022-02-21   Health     8.6  31631.8     0

[2450 rows x 5 columns]

In [9]:
# Iterate and compute the Total column
for i in range(1, len(df)):  # Start from second row
    if df.loc[i-1, "Type"] == 0:  # Expense
        df.loc[i, "Total"] = df.loc[i-1, "Total"] + df.loc[i-1, "Amount"]  
    else:  # Income (Type == 1)
        df.loc[i, "Total"] = df.loc[i-1, "Total"] - df.loc[i-1, "Amount"]  

# Round the Total column to 2 decimal places
df["Total"] = round(df["Total"], 2)

In [10]:
display(df)

           Date Category  Amount    Total  Type
0    2025-02-13      Fun     2.5   5960.5     0
1    2025-02-13  Mprikis    40.0   5963.0     0
2    2025-02-13     Fuel    24.0   6003.0     0
3    2025-02-12      Fun     9.5   6027.0     0
4    2025-02-12  Mprikis    11.0   6036.5     0
...         ...      ...     ...      ...   ...
2445 2022-02-22    Gifts     9.0  11349.8     1
2446 2022-02-21      Fun     2.5  11340.8     0
2447 2022-02-21      Fun     3.0  11343.3     0
2448 2022-02-21     Fuel     4.5  11346.3     0
2449 2022-02-21   Health     8.6  11350.8     0

[2450 rows x 5 columns]

In [11]:
# Convert DataFrame rows to Data objects
validated_data = [Data(
    Date=row['Date'],
    Category=row['Category'],
    Amount=row['Amount'],
    Total=row['Total'],
    Type=row['Type']
) for index, row in df.iterrows()]

In [12]:
def upload_validated_data(validated_data, sheet):
    # Convert list of Data objects to list of lists
    rows = []
    
    # Add headers first
    headers = ['Date', 'Category', 'Amount', 'Total', 'Type']
    rows.append(headers)
    
    # Convert each Data object to a list
    for data in validated_data:
        row = [
            data.Date.strftime('%Y-%m-%d'),  # Format datetime to string
            data.Category,
            data.Amount,
            data.Total,
            data.Type
        ]
        rows.append(row)
    
    try:
        # Clear existing data (optional)
        sheet.clear()
        
        # Update the sheet with all data at once
        sheet.update(rows)
        print(f"Successfully uploaded {len(validated_data)} rows to Google Sheets")
        
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Usage
sheet = connect()
upload_validated_data(validated_data, sheet)

Successfully uploaded 2450 rows to Google Sheets

In [7]:
validated_data

[Data(Date=Timestamp('2025-02-13 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=24.0, Total=5936.5, Type=0),
 Data(Date=Timestamp('2025-02-13 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=40.0, Total=5976.5, Type=0),
 Data(Date=Timestamp('2025-02-13 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.5, Total=5979.0, Type=0),
 Data(Date=Timestamp('2025-02-12 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=11.0, Total=6003.0, Type=0),
 Data(Date=Timestamp('2025-02-12 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=9.5, Total=6012.5, Type=0),
 Data(Date=Timestamp('2025-02-12 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=15.0, Total=6027.5, Type=0),
 Data(Date=Timestamp('2025-02-12 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=18.0, Total=6045.5, Type=0),
 Data(Date=Timestamp('2025-02-11 00:00:00'), Category=<Categories.Dad: 'Dad'>, Amount=70.0, Total=5975.5, Type=1),
 Data(Date=Timestamp('2025-02-11 00:00:00'), Category=<Categories.Gym: 'Gym'>, Amount=53.0, Total=6028.5, Type=0),
 Data(Date=Timestamp('2025-02-10 00:00:00'), Category=<Categories.Gym: 'Gym'>, Amount=75.0, Total=6039.5, Type=0),
 Data(Date=Timestamp('2025-02-10 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=12.0, Total=6051.5, Type=0),
 Data(Date=Timestamp('2025-02-10 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=3.5, Total=6055.0, Type=0),
 Data(Date=Timestamp('2025-02-10 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=20.0, Total=6075.0, Type=0),
 Data(Date=Timestamp('2025-02-10 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=8.5, Total=6083.5, Type=0),
 Data(Date=Timestamp('2025-02-08 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=3.0, Total=6086.5, Type=0),
 Data(Date=Timestamp('2025-02-08 00:00:00'), Category=<Categories.Vodafone: 'Vodafone'>, Amount=10.0, Total=6161.0, Type=0),
 Data(Date=Timestamp('2025-02-08 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=3.0, Total=6164.0, Type=0),
 Data(Date=Timestamp('2025-02-07 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=10.0, Total=6174.0, Type=0),
 Data(Date=Timestamp('2025-02-07 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=14.0, Total=6188.0, Type=0),
 Data(Date=Timestamp('2025-02-07 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=11.5, Total=6199.5, Type=0),
 Data(Date=Timestamp('2025-02-06 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=10.0, Total=6209.5, Type=0),
 Data(Date=Timestamp('2025-02-06 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=48.5, Total=6258.0, Type=0),
 Data(Date=Timestamp('2025-02-06 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.0, Total=6260.0, Type=0),
 Data(Date=Timestamp('2025-02-05 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=1.5, Total=6281.0, Type=0),
 Data(Date=Timestamp('2025-02-05 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=19.0, Total=6300.0, Type=0),
 Data(Date=Timestamp('2025-02-05 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=5.0, Total=6305.0, Type=0),
 Data(Date=Timestamp('2025-02-05 00:00:00'), Category=<Categories.Electricity: 'Electricity'>, Amount=36.0, Total=6341.0, Type=0),
 Data(Date=Timestamp('2025-02-05 00:00:00'), Category=<Categories.Vodafone: 'Vodafone'>, Amount=15.0, Total=6356.0, Type=0),
 Data(Date=Timestamp('2025-02-03 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=5.0, Total=6403.0, Type=0),
 Data(Date=Timestamp('2025-02-03 00:00:00'), Category=<Categories.Subscriptions: 'Subscriptions'>, Amount=24.0, Total=6408.0, Type=0),
 Data(Date=Timestamp('2025-02-03 00:00:00'), Category=<Categories.Parking: 'Parking'>, Amount=30.0, Total=6373.0, Type=0),
 Data(Date=Timestamp('2025-02-03 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=15.0, Total=6358.0, Type=0),
 Data(Date=Timestamp('2025-02-02 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=10.0, Total=6455.0, Type=0),
 Data(Date=Timestamp('2025-02-02 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=4.0, Total=6465.0, Type=0),
 Data(Date=Timestamp('2025-02-02 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.0, Total=6469.0, Type=0),
 Data(Date=Timestamp('2025-02-01 00:00:00'), Category=<Categories.Rent: 'Rent'>, Amount=261.0, Total=6471.0, Type=0),
 Data(Date=Timestamp('2025-02-01 00:00:00'), Category=<Categories.Haircut: 'Haircut'>, Amount=10.0, Total=6732.0, Type=0),
 Data(Date=Timestamp('2025-02-01 00:00:00'), Category=<Categories.Family: 'Family'>, Amount=100.0, Total=6742.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=13.1, Total=5248.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=6.0, Total=5262.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=7.0, Total=6871.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=15.0, Total=5268.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=24.0, Total=6878.0, Type=0),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Job: 'Job'>, Amount=1600.0, Total=6848.0, Type=1),
 Data(Date=Timestamp('2025-01-31 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=65.0, Total=6842.0, Type=0),
 Data(Date=Timestamp('2025-01-30 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=6.0, Total=6902.0, Type=0),
 Data(Date=Timestamp('2025-01-28 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=9.1, Total=6916.0, Type=0),
 Data(Date=Timestamp('2025-01-28 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.1, Total=6926.0, Type=0),
 Data(Date=Timestamp('2025-01-28 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=8.0, Total=6908.0, Type=0),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=160.0, Total=5311.0, Type=0),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Mom: 'Mom'>, Amount=55.0, Total=5342.0, Type=1),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=15.0, Total=5287.0, Type=0),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.0, Total=5302.0, Type=0),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=3.1, Total=5307.0, Type=0),
 Data(Date=Timestamp('2025-01-25 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=16.1, Total=5471.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=25.0, Total=5489.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=10.0, Total=5514.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=19.0, Total=5524.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=28.0, Total=5543.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=900.0, Total=5571.0, Type=0),
 Data(Date=Timestamp('2025-01-23 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=30.0, Total=6471.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Subscriptions: 'Subscriptions'>, Amount=5.0, Total=6627.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=7.0, Total=5531.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=20.0, Total=5558.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=25.0, Total=5551.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=8.0, Total=6543.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=9.0, Total=5566.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=1.1, Total=6624.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Vodafone: 'Vodafone'>, Amount=35.0, Total=6632.0, Type=0),
 Data(Date=Timestamp('2025-01-21 00:00:00'), Category=<Categories.Family: 'Family'>, Amount=37.0, Total=6578.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=3.1, Total=6738.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=10.0, Total=6722.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.1, Total=6615.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=11.0, Total=6657.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=50.0, Total=6668.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=5.1, Total=6718.0, Type=0),
 Data(Date=Timestamp('2025-01-17 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=45.0, Total=6743.0, Type=0),
 Data(Date=Timestamp('2025-01-15 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.0, Total=6732.0, Type=0),
 Data(Date=Timestamp('2025-01-15 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=30.0, Total=6745.0, Type=0),
 Data(Date=Timestamp('2025-01-15 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=8.0, Total=6753.0, Type=0),
 Data(Date=Timestamp('2025-01-14 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=5.0, Total=6758.0, Type=0),
 Data(Date=Timestamp('2025-01-14 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=15.0, Total=6773.0, Type=0),
 Data(Date=Timestamp('2025-01-14 00:00:00'), Category=<Categories.Gym: 'Gym'>, Amount=75.0, Total=6848.0, Type=0),
 Data(Date=Timestamp('2025-01-12 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=9.0, Total=6857.0, Type=0),
 Data(Date=Timestamp('2025-01-12 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=22.0, Total=6879.0, Type=0),
 Data(Date=Timestamp('2025-01-10 00:00:00'), Category=<Categories.Haircut: 'Haircut'>, Amount=10.0, Total=6889.0, Type=0),
 Data(Date=Timestamp('2025-01-10 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=27.8, Total=6916.8, Type=0),
 Data(Date=Timestamp('2025-01-10 00:00:00'), Category=<Categories.Health: 'Health'>, Amount=69.1, Total=6985.900000000001, Type=0),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=22.0, Total=7007.900000000001, Type=0),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Job: 'Job'>, Amount=890.0, Total=6117.900000000001, Type=1),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=4.6, Total=6122.500000000001, Type=0),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Hobies: 'Hobies'>, Amount=2.0, Total=6124.500000000001, Type=0),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=3.2, Total=6127.700000000001, Type=0),
 Data(Date=Timestamp('2025-01-09 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=7.0, Total=6134.700000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=62.5, Total=6197.200000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Health: 'Health'>, Amount=20.0, Total=6217.200000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=4.6, Total=6221.800000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Health: 'Health'>, Amount=4.0, Total=6225.800000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Building_fees: 'Building fees'>, Amount=25.0, Total=6250.800000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=5.3, Total=6256.100000000001, Type=0),
 Data(Date=Timestamp('2025-01-07 00:00:00'), Category=<Categories.Electricity: 'Electricity'>, Amount=31.0, Total=6287.100000000001, Type=0),
 Data(Date=Timestamp('2025-01-06 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.0, Total=6292.100000000001, Type=0),
 Data(Date=Timestamp('2025-01-05 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=3.1, Total=6295.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-05 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=17.0, Total=6312.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-05 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=6.0, Total=6318.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-04 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=20.0, Total=6338.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-02 00:00:00'), Category=<Categories.Vodafone: 'Vodafone'>, Amount=10.0, Total=6348.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-02 00:00:00'), Category=<Categories.Rent: 'Rent'>, Amount=207.0, Total=6555.200000000002, Type=0),
 Data(Date=Timestamp('2025-01-02 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.2, Total=6557.4000000000015, Type=0),
 Data(Date=Timestamp('2025-01-02 00:00:00'), Category=<Categories.Subscriptions: 'Subscriptions'>, Amount=25.0, Total=6582.4000000000015, Type=0),
 Data(Date=Timestamp('2025-01-02 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=26.0, Total=6608.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-31 00:00:00'), Category=<Categories.Job: 'Job'>, Amount=706.0, Total=5902.4000000000015, Type=1),
 Data(Date=Timestamp('2024-12-31 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=45.0, Total=5947.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-30 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=7.0, Total=5954.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=10.0, Total=5964.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=7.0, Total=5971.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=27.0, Total=5998.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=16.0, Total=6014.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Gifts: 'Gifts'>, Amount=28.0, Total=6042.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-28 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=23.0, Total=6065.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-27 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=12.0, Total=6077.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-26 00:00:00'), Category=<Categories.Subscriptions: 'Subscriptions'>, Amount=25.0, Total=6102.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-26 00:00:00'), Category=<Categories.Gifts: 'Gifts'>, Amount=50.0, Total=6152.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-26 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=12.0, Total=6164.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=14.0, Total=6178.4000000000015, Type=0),
 Data(Date=Timestamp('2024-12-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=2.2, Total=6180.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-25 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=0.5, Total=6181.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-25 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=7.0, Total=6188.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-25 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=5.0, Total=6193.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-23 00:00:00'), Category=<Categories.Gifts: 'Gifts'>, Amount=48.0, Total=6241.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-23 00:00:00'), Category=<Categories.Allowance: 'Allowance'>, Amount=80.0, Total=6161.100000000001, Type=1),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=39.0, Total=6200.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Other: 'Other'>, Amount=100.0, Total=6300.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Dad: 'Dad'>, Amount=100.0, Total=6200.100000000001, Type=1),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.0, Total=6205.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Gifts: 'Gifts'>, Amount=30.0, Total=6235.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=11.0, Total=6246.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-22 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=5.0, Total=6251.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-21 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=116.0, Total=6367.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-21 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=17.0, Total=6384.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-20 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=12.0, Total=6396.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-20 00:00:00'), Category=<Categories.Me: 'Me'>, Amount=64.0, Total=6460.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-20 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=1.5, Total=6461.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-20 00:00:00'), Category=<Categories.Job: 'Job'>, Amount=937.0, Total=5524.600000000001, Type=1),
 Data(Date=Timestamp('2024-12-20 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=6.0, Total=5530.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-19 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=3.0, Total=5533.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-19 00:00:00'), Category=<Categories.Mprikis: 'Mprikis'>, Amount=7.5, Total=5541.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-19 00:00:00'), Category=<Categories.Job: 'Job'>, Amount=733.0, Total=4808.100000000001, Type=1),
 Data(Date=Timestamp('2024-12-19 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=25.5, Total=4833.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-19 00:00:00'), Category=<Categories.Subscriptions: 'Subscriptions'>, Amount=5.0, Total=4838.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-18 00:00:00'), Category=<Categories.Haircut: 'Haircut'>, Amount=10.0, Total=4848.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-18 00:00:00'), Category=<Categories.Fun: 'Fun'>, Amount=14.0, Total=4862.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-18 00:00:00'), Category=<Categories.Gym: 'Gym'>, Amount=6.0, Total=4868.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-18 00:00:00'), Category=<Categories.Health: 'Health'>, Amount=12.0, Total=4880.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-18 00:00:00'), Category=<Categories.Fuel: 'Fuel'>, Amount=20.0, Total=4900.600000000001, Type=0),
 Data(Date=Timestamp('2024-12-17 00:00:00'), Category=<Categories.Lena: 'Lena'>, Amount=50.0, Total=4850.600000000001, Type=1),
 Data(Date=Timestamp('2024-12-17 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=23.5, Total=4874.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-16 00:00:00'), Category=<Categories.Education: 'Education'>, Amount=12.0, Total=4886.100000000001, Type=0),
 Data(Date=Timestamp('2024-12-16 00:00:00'), Category=<Categories.Supermarket: 'Supermarket'>, Amount=23.0, Total=4909.100000000001, Type=0),

In [12]:
# # Convert Date column to datetime
# df['Date'] = pd.to_datetime(df['Date'])

# # Convert Total column to float, replacing empty strings with NaN first
# df['Total'] = (df['Total']
#                .str.replace('$', '')
#                .str.replace(',', '')
#                .replace('', pd.NA)  # Replace empty strings with NaN
#                .astype(float))

# # If you want to fill NaN values with 0 or another value, you can do:
# df['Total'] = df['Total'].fillna(0)

# Verify the datatypes
print(df.dtypes)

Date        datetime64[ns]
Category            object
Amount             float64
Total              float64
Type                 int64
dtype: object

In [21]:
df.Category.unique()

array(['Mprikis', 'Fub', 'Fun', 'Education', 'Supermarket', 'Dad', 'Gym',
       'Other', 'Vodafone', 'Fuel', 'Electricity', 'Subscriptions',
       'Parking', 'Rent', 'Haircut', 'Family', 'Job', 'Me', 'Mom',
       'other', 'Health', 'Hobies', 'Building fees', 'Gifts', 'Allowance',
       'Lena', 'Vacation', 'Water', 'MOTOmaintenance/oil/insurance',
       'Accountant', 'Private', 'Efka', 'Gift'], dtype=object)

In [ ]:
# Check the dataframe schema
validator = Pandantic(schema=Data)
df_valid = validator.validate(dataframe=df, errors="raise")
df_valid

ValidationError: 1 validation error for Data
Total
  Input should be a valid number, unable to parse string as a number [type=float_parsing, input_value='', input_type=str]
    For further information visit https://errors.pydantic.dev/2.10/v/float_parsing

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2449 entries, 0 to 2448
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2449 non-null   object
 1   Category  2449 non-null   object
 2   Amount    2449 non-null   float64
 3   Total     2449 non-null   object
 4   Type      2449 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 95.8+ KB

In [ ]:
# New row to add
new_row = ["2025-02-02", "fun", 2, "", 0]  # NaN is for Total

# Insert row
sheet.insert_row(new_row, 2)

print("Row added successfully!")

Row added successfully!

In [14]:
# Iterate and compute the Total column
for i in range(1, len(df)):  # Start from second row
    if df.loc[i, "Total"] == "" or pd.isna(df.loc[i, "Total"]):  # If Total is empty
        if df.loc[i, "Type"] == 0:  # Expense
            df.loc[i, "Total"] = df.loc[i-1, "Total"] + df.loc[i, "Amount"]
        else:  # Income
            df.loc[i, "Total"] = df.loc[i-1, "Total"] - df.loc[i, "Amount"]

# Convert Total column back to integer
df["Total"] = df["Total"].astype(float)

# Display the result
# import ace_tools as tools
# tools.display_dataframe_to_user(name="Updated Total Calculation", dataframe=df)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2449 entries, 0 to 2448
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2449 non-null   datetime64[ns]
 1   Category  2449 non-null   object
 2   Amount    2449 non-null   float64
 3   Total     2447 non-null   float64
 4   Type      2449 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 95.8+ KB

In [20]:
# Convert 'Date' to datetime format (if not already converted)
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# Now convert back to string format for Google Sheets
df["Date"] = df["Date"].dt.strftime("%Y-%m-%d")

# Convert DataFrame to list of lists (Google Sheets format)
data_to_push = [df.columns.tolist()] + df.values.tolist()

# Overwrite entire sheet with updated data
sh.update("A1", data_to_push)

print("✅ Data successfully updated in Google Sheets!")

/tmp/ipykernel_28458/3795469456.py:11: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  sh.update("A1", data_to_push)

✅ Data successfully updated in Google Sheets!

In [22]:
# Open the Google Sheet
sheet = sh

# ✅ 2. Read Data from Google Sheets into a DataFrame
data = sheet.get_all_records()
df = pd.DataFrame(data)

# ✅ 3. Convert 'Date' to datetime format (handling any errors)
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# ✅ 4. Sort DataFrame by Date (latest first)
df = df.sort_values(by="Date", ascending=False).reset_index(drop=True)

# ✅ 5. Convert "Total" column to numeric (handling empty values)
df["Total"] = pd.to_numeric(df["Total"], errors="coerce")

# ✅ 6. Shift "Total" column down by one row
df["Total"] = df["Total"].shift(1)

# ✅ 7. Set the first row's "Total" to an empty string
df.loc[0, "Total"] = ""

# ✅ 8. Ensure "Total" remains integer where possible
df["Total"] = pd.to_numeric(df["Total"], errors="coerce").astype("Int64")  # Keeps NaN as blank instead of float NaN

# ✅ 9. Convert Date to string format before pushing
df["Date"] = df["Date"].dt.strftime("%Y-%m-%d")

# ✅ 10. Push updated DataFrame back to Google Sheets
data_to_push = [df.columns.tolist()] + df.astype(str).values.tolist()  # Ensure all values are strings for Google Sheets

# Overwrite entire sheet with updated data
sheet.update("A1", data_to_push)

print("✅ Data successfully updated in Google Sheets!")

/tmp/ipykernel_28458/2312491031.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0, "Total"] = ""
/tmp/ipykernel_28458/2312491031.py:33: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  sheet.update("A1", data_to_push)

✅ Data successfully updated in Google Sheets!